<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">



<link rel="stylesheet" 

href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 

integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 

crossorigin="anonymous">

<link rel="shortcut icon" href="https://static.vecteezy.com/system/resources/previews/006/689/922/original/bedroom-icon-illustration-free-vector.jpg" type="image/x-icon">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 

integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<title>Add Room</title>

<style>

body{



background-image:url("https://media.istockphoto.com/id/1172744815/photo/autumn-maple-leaves-on-wooden-table-falling-leaves-natural-background.jpg?s=170667a&w=0&k=20&c=1gJZEz7X7hj-yGhCVwvTmkvR1drI81pJqUNseeDXnqU=");

height:100%;



background-position:center;



background-repeat:no-repeat;



background-size:cover;



}



/* html{



height:100%;} */



</style>



</head>



<body>

<h2 align="center" style="color:green;">[[${message}]]</h2>

<form action="/addRoom"  method="POST">



	<div class="container">

	

		<div class="row">

			<br>

		</div>

	

    	<div class="row" style=justify-content:center;font-family:serif><br> 

    		<h1 align="center">Add Room</h1>

   		</div><br>

    

    	<!-- <div class="row">

    		<br>

    	</div><br>

     -->

    </div>

    

    

<div class="container">

    <div class="row">

		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style=justify-content:center;background-color:transparent>

			<div class="card-body" >

				

					<!-- <div class="form-group">

						<label>Movie Id</label>

						<input type="number" name="movieId" 

							class="form-control" placeholder="Enter Movie Id"/>

					</div> -->

					<div class="form-group">

						<label>Room No</label>

						<input type="number" name="roomNo" 

							class="form-control" style=background-color:transparent placeholder="Enter Room No" required/>

							

					</div>

					<div class="form-group">

						<label>No of Beds</label>

						<input type="number" name="noOfBeds" 

							class="form-control" style=background-color:transparent placeholder="Enter No Of Beds" required/>

							

					</div>

					

					

					<!-- <div class="form-group">

						<label>Submit</label>

						<input  type="Submit" name="Submit" 

							class="form-control"/>

							

					</div> -->

					 

 					<div class="footer-body">

						

						<button class="btn btn-primary btn-sm mb-3 text-center float-left"style="font-size:15px">Add</button>

					<a href="/viewRoom" class="btn btn-secondary btn-sm mb-3 text-center float-right" style="font-size:15px">Back</a>

					</div>

				

			</div>

		</div>

	</div>   

</div>



</form>

<br>

<!-- <h2 align="center" style="color:green;">[[${message}]]</h2> -->

</body>

</html>

